$black: #000;
$white: #fff;

$color-link: #0b00ee;

$color-blue: #4871d1;
$color-green: #70d590;
$color-grey: #b5b5b5;

// Used colors
$color-red: #de352c;
$color-violet: #7570d5;
$color-yellow: #eea900;

$colors: (
  'blue': $color-blue,
  'red': $color-red,
  'violet': $color-violet,
  'yellow': $color-yellow,
);
